@model Course
@{
    ViewData["Title"] = "Update";
}

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Old Photo</h4>
                <img src="~/img/course/@Model.ImageName" style="width:400px; height:300px; border-radius:0;" alt="Alternate Text" />
                <h4> @Model.CourseName</h4>
                <h4>@Html.Raw(Model.Description)</h4>
             </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <form class="forms-sample" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="Photo"></label>
            <input class="form-control" asp-for="Photo" accept="image/*">
            <span class="text-danger" asp-validation-for="Photo"></span>
        </div>
        <div class="form-group">
            <label asp-for="CourseName"></label>
            <input class="form-control" asp-for="CourseName">
            <span class="text-danger" asp-validation-for="CourseName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description"></label>
            <input class="form-control" asp-for="Description">
            <span class="text-danger" asp-validation-for="Description"></span>
        </div>
        <div class="form-group">
            <label asp-for="About"></label>
            <input class="form-control" asp-for="About">
            <span class="text-danger" asp-validation-for="About"></span>
        </div>
        <div class="form-group">
            <label asp-for="Apply"></label>
            <input class="form-control" asp-for="Apply">
            <span class="text-danger" asp-validation-for="Apply"></span>
        </div>
        <div class="form-group">
            <label asp-for="Certification"></label>
            <input class="form-control" asp-for="Certification">
            <span class="text-danger" asp-validation-for="Certification"></span>
        </div>
        <div class="form-group" id="CourseFeatures">
            <label asp-for="CourseFeatureId"></label>
            <select name="CourseFeatureId" class="form-control" id="CourseFeaturesId">
                @foreach (CourseFeature courseFeatures in ViewBag.CourseFeatures)
                {
                    <option value="@courseFeatures.Id">@courseFeatures.Id</option>
                }
            </select>
        </div>
        <button type="submit" class="btn btn-warning mr-2">Update</button>
        <a class="btn btn-dark" asp-action="Index">Go Back</a>
    </form>
</div>


